.vscode
.env
.env.local
.env.dev
.env.prod
.env.test
.env.test.local
.env.test.local
.idea
.DS_Store



###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###